%html
  %head
    %title Riker
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/week.css"}
    %style{:type => 'text/css', :media => 'print'}
      body { background: white; color: black; }
      \#footer { display: none; }
      \/* apparently only opera supports this */
      @page { size: landscape; }
    %script{:type => 'text/javascript', :src => '/javascripts/prototype.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/scriptaculous.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/sprintf.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/label.js'}
  %body
    #spacer
    #main
      %h2#date 
        /«
        %span= sunday
        &mdash;
        %span= saturday
        /»
      %table#cal
        %tr
          / maybe dates underneath day names would be nice?
          %th 
          %th Sunday
          %th Monday
          %th Tuesday
          %th Wednesday
          %th Thursday
          %th Friday
          %th Saturday
        - hours.each do |hour|
          %tr{:class => "h#{hour}"}
            %th= hour
            - days.each do |day|
              - slot = day[:slots].detect{ |s| s.hour == hour }
              /
                = day.inspect
                = slot.inspect
              %td
                %div{:id => sprintf("slot_%sT%02d", day[:day], hour)}<
                  = (slot ? slot.label : '')
      #footer
        /
          Edit 
          %select#layer
            %option{:value => 'shifts'} shifts
            %option{:value => 'other'}  outside help, etc.
          &middot;
        %a{:href => '/about'} Riker?
        &middot;
        Written by Jacob and Hans
      %script{:type => 'text/javascript'}
        - hours.each do |hour|
          - days.each do |day|
            = "new Ajax.InPlaceEditor('#{sprintf("slot_%sT%02d", day[:day], hour)}', '#{sprintf("/%s/%02d/%s", day[:day], hour, 'shifts')}');"
