%html
  %head
    %title Riker
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/week.css"}
    %style{:type => 'text/css', :media => 'print'}
      body { background: white; color: black; }
      \#footer { display: none; }
      \/* apparently only opera supports this */
      @page { size: landscape; }
    %script{:type => 'text/javascript', :src => '/javascripts/prototype.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/scriptaculous.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/sprintf.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/label.js'}
    %meta{'http-equiv' => 'refresh', :content => '60'}
  %body
    #spacer
    #main
      %h2#date 
        %a{:href => "/week/#{sunday-7}"} «
        %span= sunday.strftime(sunday.year == saturday.year ? '%B %d' : '%B %d, %Y')
        &mdash;
        %span= saturday.strftime('%B %d, %Y')
        %a{:href => "/week/#{saturday+1}"} »
      %table#cal
        %tr
          / maybe dates underneath day names would be nice?
          %th 
          %th Sunday
          %th Monday
          %th Tuesday
          %th Wednesday
          %th Thursday
          %th Friday
          %th Saturday
        - hours.each do |hour|
          %tr{:class => "h#{hour}"}
            %th= sprintf("%02d00", hour)
            - days.each do |day|
              - slot = day[:slots].detect{ |s| s.hour == hour }
              %td{:id => sprintf("td_%sT%02d", day[:day], hour)}
                %div{:id => sprintf("slot_%sT%02d", day[:day], hour)}<
                  = (slot ? slot.label : '')
      #footer
        Click cells to edit &middot;
        /
          Edit 
          %select#layer
            %option{:value => 'shifts'} shifts
            %option{:value => 'other'}  outside help, etc.
          &middot;
        %a{:href => '/week/%s/pdf' % sunday} Download as PDF
        &middot;
        %a{:href => '/about'} Riker?
        &middot;
        Written by Jacob and Hans
      %script{:type => 'text/javascript'}
        / no yellow fade, por favor - but IE6 (at least) chokes on 'transparent'
        if (!Prototype.Browser.IE) {
        Ajax.InPlaceEditor.DefaultOptions.highlightEndColor = 'transparent';
        Ajax.InPlaceEditor.DefaultOptions.highlightColor = 'transparent';
        }
        var ipes = new Hash();
        - hours.each do |hour|
          - days.each do |day|
            - index = sprintf("%sT%02d", day[:day], hour)
            = "ipes['slot_#{index}'] = new Ajax.InPlaceEditor('slot_#{index}', '#{sprintf("/%s/%02d/%s", day[:day], hour, 'shifts')}', {okControl: false, cancelControl: false, submitOnBlur: true});"
            = "Event.observe($('td_#{index}'), 'click', function() { ipes['slot_#{index}'].enterEditMode(); });"
